.sortBy {
  position: relative;
}

.sortBy input {
  position: absolute;
  top: 0;
  right: 20px;
}

.desktop .card {
  padding: 1rem;
}


.banner img {
  width: 100%;
  height: auto;
}

.breadcrumbs {
  line-height: 1;
  color: #555;
}

.breadcrumbs ul {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 0.75rem;
}

.breadcrumbs ul li {
  display: inline-block;
  position: relative;
}

.breadcrumbs ul li::after {
  font-family: 'themify';
  font-size: 0.625rem;
  display: inline-block;

}

.btn1-group button {
  width: 130px;
  margin-left: 3.5rem;
  border: .5px solid;
}

.accordion-item button .active {
  font-weight: bold;
  color: #FE9E2D;
}

a {
  text-decoration: none;
  color: #555;
}

Link {
  text-decoration: none;
}

.card {
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 2px #adadad;
  
}

.card .accc a {
  text-decoration: none !important;
}


li {
  list-style: none;
}

.byocc img {
  width: 90%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.addtofavCategory li {
  margin-left: 14.8rem;
  margin-top: .1rem;
  font-size: 18px;
  font-weight: bold;
  color: #434343;
}

.spSingleProduct {
  margin-left: 6.7rem;
  padding-top: 2px;
 
}

.byoccBrand img {
  width: 100%;
  margin-top: 1rem;
}

.breadcrumb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb-item .categoriesName {
  text-decoration: none !important;
  color: #FE9E2D;
}

input[type=checkbox]:checked {
  background-color: #FE9E2D;
  border: none;
}

@media (max-width: 720px) {
  .catcart {
    width: 50%;
  }

  .row .col-md-4 {
    width: 50%;
  }

  .container .col-md-9 .row .col-md-4 {
    width: 50%;
  }


  /* .newComboCart {
    width: 50%;
    
  } */


  .mobile .col-6 {
    width: 50%;
  }

  .filterul li {
    list-style-type: circle !important;
  }
}










#cover-spin {
  position:fixed;
  width:100%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;
  top:40%;
  width:40px;
  height:40px;
  border-style:solid;
  border-color:#fe9e2d !important;
  border-top-color:transparent !important;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}